<div class="w-full max-w-xs mx-auto my-8">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'bg-white shadow-md rounded w-5/6 px-6 pt-6 pb-8 mb-4 mx-auto'}) do |f| %>
    <%= devise_error_messages! %>

    <div class="mb-6">
      <%= f.label :email, class: 'block text-grey-darker text-sm font-bold mb-2' %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline' %>
    </div>

    <div class="mb-6">
      <%= f.label :password, class: 'block text-grey-darker text-sm font-bold mb-2' %>
      <%= f.password_field :password, autocomplete: "new-password", class: 'shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline' %>
    </div>

    <div class="mb-6">
      <%= f.label :password_confirmation, class: 'block text-grey-darker text-sm font-bold mb-2' %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline' %>
    </div>

    <% if user_signed_in? && current_user.admin? %>
    <div class="md:flex md:items-center mb-6">
      <div class="md:w-1/3"></div>
      <label class="md:w-2/3 block text-grey font-bold">
        <input class="mr-2 leading-tight" type="checkbox">
        <span class="text-sm">
        Is you are Admin?
      </span>
      </label>
    </div>
    <% end %>

    <div class="flex flex-col items-center justify-between">
      <%= f.submit "Sign up", class: "bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 mb-4 rounded focus:outline-none focus:shadow-outline" %>
      <%= render "devise/shared/links" %>
    </div>

  <% end %>
</div>