<%= search_form_for @q, html: { class: 'max-w-sm w-5/6 m-auto my-4 lg:w-full' } do |f| %>
  <div class="flex items-center border-b border-b-2 border-grey-darkest py-2">
    <%= f.search_field :name_cont, class: 'appearance-none bg-transparent border-none w-full text-grey-darkest mr-3 py-1 px-2 leading-tight focus:outline-none', placeholder: '声優さんの名前で検索'  %>
    <%= f.submit '検索', class: 'flex-no-shrink bg-grey-darkest hover:bg-black border-grey-darkest hover:border-black text-sm border-4 text-white py-1 px-2 rounded' %>
  </div>
<% end %>

<div class="w-5/6 mx-auto my-8 text-center">
  <%= link_to 'アニメ検索', animes_path, class: 'text-white text-bold bg-grey-darkest hover:bg-black rounded py-2 px-4' %>
  <%= link_to 'キャラ検索', characters_path, class: 'text-white text-bold bg-grey-darkest hover:bg-black rounded py-2 px-4' %>
</div>

<div class="flex flex-wrap lg:flex-col justify-start">
  <% @actors.find_each do |actor| %>
    <div class="max-w-md mx-auto my-2 w-5/6 lg:flex">
      <div class="border-b border-grey-darkest w-full py-2 leading-normal">
        <div class="text-black font-bold text-md">
          <%= link_to actor.sh_name, actor_path(actor) %>
        </div>
        <p class="text-grey-darker"><%#= actor.description %></p>
      </div>
    </div>
  <% end %>
</div>

<div class="w-5/6 mx-auto my-8 text-center">
  <%= link_to_prev_page @actors, '前のページ', class: 'text-white text-bold bg-grey-darkest hover:bg-black rounded py-2 px-4' %>
  <%= link_to_next_page @actors, '次のページ', class: 'text-white text-bold bg-grey-darkest hover:bg-black rounded py-2 px-4' %>
</div>