<div class="max-w-md w-5/6 m-auto my-4 lg:flex">
  <div class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden" style="background-image: url(<%= asset_path("back.jpg") %>)" title="Woman holding a mug">
  </div>
  <div class="w-full border-r border-b border-l border-grey-light lg:border-l-0 lg:border-t lg:border-grey-light bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
    <div class="mb-8">
      <div class="text-black font-bold text-xl mb-2"><%= @character.name %></div>
      アニメ : <% @animes.each do |anime| %>
        <div class="text-black font-bold text-md mb-2"><%= link_to anime.title, anime_path(anime) %></div>
      <% end %>
      声優 : <% @actors.each do |actor| %>
        <div class="text-black font-bold text-md mb-2"> <%= link_to actor.sh_name, actor_path(actor) %></div>
      <% end %>
      プロフィール : <p class="text-black text-base"><%= @character.profile %></p>
    </div>
    <button class="bg-grey-darkest hover:bg-black font-semibold py-2 px-4 rounded-full">
      <%= link_to '編集する', edit_character_path(@character), class: 'text-white' %>
    </button>
  </div>
</div>