<div class="w-5/6 lg:w-full max-w-md mx-auto my-8">
  <%= form_with(model: @anime, local: true, class: 'bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4') do |form| %>
    <% if @anime.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@anime.errors.count, "error") %> prohibited this anime from being saved:</h2>

        <ul>
          <% @anime.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-4">
      <label class="block text-grey-darker text-sm font-bold mb-2">
        アニメの名称
      </label>
      <%= form.text_field :title, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline' %>
    </div>
    <div class="flex items-center justify-between">
      <%= form.submit '完了する', class: 'text-white font-semibold bg-grey-darkest hover:bg-black py-2 px-4 rounded focus:outline-none focus:shadow-outline' %>
      <div class="flex justify-between items-center">
        <%= link_to '戻る', anime_path(@anime), class: 'inline-block align-baseline font-bold text-sm text-grey-darkest hover:text-black' %>
        <% if user_signed_in? && current_user.admin? %>
          <%= link_to '削除', @anime, class: 'text-white font-semibold bg-grey-darkest hover:bg-black ml-2 py-2 px-4 rounded focus:outline-none focus:shadow-outline', method: :delete, data: { confirm: '本当に削除しますか？' } %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>